body {
    background: #202028;
    color: #fff;
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

#tetris {
    border: solid 1px #fff;
}

#score {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 2em;
}